body{
    justify-content: center;
    text-align: center;
    background-color: lightsteelblue;
    margin: 30px;
}
ul li{
    list-style-type: none;
    text-transform: capitalize;
}


.clear{
    background-color: paleturquoise;
    color:black;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 3px solid #222;
    outline: none;
    width: 30%;
    cursor: pointer;
    transition: background-color 0.25s;

}

#main-button{
    background-color: paleturquoise;
    color:black;
    padding: 1rem;
    font-weight: bold;
    border: none;
    border: 3px solid #222;
    outline: none;
    width: 100px;
    cursor: pointer;

}