
body{
    background-color: lightgrey;
    text-align: center;
    padding: 0px
}

#main-header{
    background: white;
    position: relative;
    
}
#header{
    color: white;
    font-family: "Asul", sans-serif;
    height: 50px;
    text-align: center;
    background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
    background: linear-gradient(to right,  rgb(29, 31, 34) 0%,rgba(80,122,167,1) 100%);
}
#text2{
    height: 50px;
    text-align: center;
    font-family: "Asul", sans-serif;
    font-size: 20px;
    color: black;
}
#main-button{
    height: 50px;
    text-align: center;
    font-family: "Asul", sans-serif;
    font-size: 20px;
    color: black;
    cursor: pointer
}
#main-button:hover{
    background: linear-gradient(rgb(29, 31, 34) 0%,rgba(80,122,167,1) 100%);
}
h3{ 
    font-family: "Asul", sans-serif;
    font-style: italic;
    font-size: 25px;
}
ul{
    list-style-type: none;
}
ul li{
    text-align: center important;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 30px;
    width: 50%;
    margin-bottom: 20px;
    padding: 16px 30px;
    background: center;
    margin-left: -40px;
    background:grey;

}

ul li .icon{
    color: red;
    float: right;
}